<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar">
  <div class="navbar-links">
    <a mat-list-item (click)="main()">
      <div style="display: flex; align-items: center;">
        <span style="margin-right: 5px;">Home</span>
        <mat-icon class="navbar-icon" style="font-size: 24px;">home</mat-icon>
      </div> 
    </a>

    <a mat-list-item (click)="reporting()">
      <div style="display: flex; align-items: center;">
        <span style="margin-right: 5px;">Reporting</span>
        <mat-icon class="navbar-icon" style="font-size: 24px;">dashboard</mat-icon>
      </div>
      
       
    
    </a>

  
  </div>
</div>

<div class="dashboard">
  <div class="grid">
    <!-- Card 1 -->
    <div class="dashboard-card" >
      <div class="card-header">
        <span class="card-title">
          <mat-label >
           Nombre de client
          </mat-label>
                   
        </span>
       
      </div>
      <div class="card-body">
        <div class="value">
         {{nbClient}}
        </div>
        
        <div class="info">
          
          
          
              </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="dashboard-card"  >
      <div class="card-header">
        <span class="card-title">Nombre des factures payées</span>
        <div class="icon-container">
          <i class="pi pi-users"></i>
        </div>
      </div>
      <div class="card-body">
        <div class="value">{{nbPayee}}</div>
        <div class="info">
   
        </div>
      </div>
    </div>

    <div class="dashboard-card" >
      <div class="card-header">
        <span class="card-title">
          <mat-label >
            Nombre des factures non payées
          </mat-label>
                   
        </span>
       
      </div>
      <div class="card-body">
        <div class="value">
          {{nbNonPayee}}
        </div>
        
        <div class="info">
          
          
          
              </div>
      </div>
    </div>  

    <!-- Card 3 -->
    <div class="dashboard-card"  >
      <div class="card-header">
        <span class="card-title">Total des reservations brut</span>
        <div class="icon-container">
          <i class="pi pi-users"></i>
        </div>
      </div>
      <div class="card-body">
        <div class="value">{{totalBrut}} MAD</div>
        <div class="info">
     
        
        </div>
      </div>
    </div>

    <!-- Card 5 -->
    <div class="dashboard-card" >
      <div class="card-header">
        <span class="card-title">Total des reservations net</span>
        <div class="icon-container">
          <i class="pi pi-comment"></i>
        </div>
      </div>
      <div class="card-body">
        <div class="value">{{totalNet}} MAD</div>
        <div class="info">
        
        </div>
      </div>
    </div>

   

    
     
    </div> 
  </div>

  <div id="chart">
   <div>
    <div class="chart-title1">
      <span>Status des reservations</span>
    </div>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive"
    ></apx-chart>
   </div>

    <div>
      <div class="chart-title">
        <span>Nombre de reservations par status</span>
      </div>
      <apx-chart
        [series]="chartOptions4.series"
        [chart]="chartOptions4.chart"
        [dataLabels]="chartOptions4.dataLabels"
        [plotOptions]="chartOptions4.plotOptions"
        [yaxis]="chartOptions4.yaxis"
        [xaxis]="chartOptions4.xaxis"
        [legend]="chartOptions4.legend"
        [colors]="chartOptions4.colors"
        [grid]="chartOptions4.grid"
      ></apx-chart>
    </div>
  </div>

  <div id="chart2">
    <div class="chart-title">
      <span>Chiffre d'affaires par mois brut</span>
    </div>
    <apx-chart
      [series]="chartOptions2.series"
      [chart]="chartOptions2.chart"
      [dataLabels]="chartOptions2.dataLabels"
      [plotOptions]="chartOptions2.plotOptions"
      [yaxis]="chartOptions2.yaxis"
      [legend]="chartOptions2.legend"
      [fill]="chartOptions2.fill"
      [stroke]="chartOptions2.stroke"
      [tooltip]="chartOptions2.tooltip"
      [xaxis]="{ categories: chartOptions2.xaxis.categories }" 
    ></apx-chart>
  </div>

  
  <div id="chart2">
    <div class="chart-title">
      <span>Chiffre d'affaires par mois net</span>
    </div>
    <apx-chart
      [series]="chartOptions3.series"
      [chart]="chartOptions3.chart"
      [dataLabels]="chartOptions3.dataLabels"
      [plotOptions]="chartOptions3.plotOptions"
      [yaxis]="chartOptions3.yaxis"
      [legend]="chartOptions3.legend"
      [fill]="chartOptions3.fill"
      [stroke]="chartOptions3.stroke"
      [tooltip]="chartOptions3.tooltip"
      [xaxis]="{ categories: chartOptions3.xaxis.categories }" 
    ></apx-chart>
  </div>


  <div id="chart4">
  
  </div>


  
  