#chart {
  display: flex;
}

#chart > div {
  flex: 9;
  margin-right: 10px; /* Adjust margin as needed */
}

#chart > div:last-child {
  margin-right: 0; /* Remove margin for the last div */
}

.apx-chart {
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  margin: 0 auto; /* Center the chart horizontally within its container */
}
.chart-title1 {
  margin-bottom: 70px; /* Adjust the value as needed */
  background-color: #2C3E50; /* Set the background color */
  color: #fff; /* Set the text color */
  padding: 10px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}




.chart-title {
  background-color: #3498db; /* Set the background color */
  color: #fff; /* Set the text color */
  padding: 10px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
  
  #chart2 {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .chart-title {
    background-color: #2C3E50; /* Set the background color */
    color: #fff; /* Set the text color */
    padding: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }
  
  .filter-wrapper {
    text-align: center;
  }
  
  @import "primeng/resources/themes/lara-light-blue/theme.css";
  @import "primeng/resources/primeng.css";
  
  /* Style the filter container (mat-card) */
  .filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex-direction: row;
  }
  
  /* Style each filter group (mat-form-field) */
  .filter-group {
    flex: 1;
    margin-right: 15px;
  }
  .round-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
  }
  
  .round-button mat-icon {
    font-size: 18px;
    padding: 0.01rem; /* Adjust the icon size as needed */
  }
  .mat-mdc-unelevated-button>.mat-icon, .mat-mdc-raised-button>.mat-icon, .mat-mdc-outlined-button>.mat-icon {
    margin-left: 7px;
    /* margin-right: 8px; */
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 1.125rem;
    height: 1.125rem;
    width: 1.125rem;
    /* margin-left: -4px; */
    /* margin-right: 8px; */
  }
  .round-button:hover {
    background-color: #29b268;
  }
   
  
  /* Style the labels (mat-label) */
  .mat-form-field-label {
    color: #888;
  }
  
  /* Adjust the size and appearance of the mat-select */
  .mat-form-field {
    width: 150px;
    font-size: 14px;
    max-width: 150px;
  }
  
  /* Override the max-width of the mat-select-panel */
  .mat-select-panel {
    max-width: 10px;
  }
  
  /* Adjust the size and appearance of the mat-select-trigger */
  .mat-select-trigger {
    min-width: 150px;
  }
  
  .mat-mdc-text-field-wrapper {
    width: 150px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  
  .logo {
    width: 126px;
    height: 75px;
    margin-right: 10px;
  }
  
  .title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Your Preferred Font', sans-serif;
    color: #333;
    /* Add flex-grow to make the title centered */
    flex-grow: 1;
    /* Optional: If you want to center the text horizontally, you can add text-align: center */
    text-align: center;
  }
  
  .chart-container {
    margin: auto;
    max-width: 900px;
  }
  
  .mat-form-field {
    margin: 0;
  }
  
  .half-width {
    width: 110px;
    margin: 10px;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 20px;
  }
  
  .logo {
    width: 126px;
    height: 75px;
    margin-right: 10px;
  }
  
  .title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Your Preferred Font', sans-serif;
    color: #333;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
  }
  
  /* Reset some default styles */
  * {
    margin: 0;
  
    box-sizing: border-box;
  }
  
  
  /* ----------------------------------------------------------------------------- */
  /* Apply styles to the dashboard */
  .dashboard {
    padding: 1rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
  
  .dashboard-card {
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 1rem;
  }
  
  
  .dashboard-card:hover {
    transform: translateY(-5px);
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .card-title {
    font-weight: 500;
  }
  
  
  .icon-container {
    background-color: #f4f7f9;
    padding: 0.6rem;
    border-radius: 50%;
  }
  
  .card-body {
    padding: 0.5rem;
  }
  
  .value {
    font-weight: 700;
    font-size: 1.5rem;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
    color: #5e6c84;
    font-size: 0.75rem;
  }
  
  .info-text {
    font-size: 0.875rem;
  }
  
  /* Media query for adjusting the layout at smaller screen widths */
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
  
    .dashboard-card {
      margin-bottom: 1rem;
    }
  }
  
  /* ----------------------------------------------------------------------------- */
  .table-card {
    margin: 20px;
  }
  
  /* Styles for the flex container */
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5px;
  }
  
  .flex-item {
    flex: 1;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles for the responsive card container */
  .flex-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    /* Adjust margin as needed */
  }
  
  /* Styles for the medium-sized responsive card */
  .responsive-card-large {
    width: 800px;
    /* Adjust the width for a medium-sized card */
    height: 400px;
    /* Adjust the height for a medium-sized card */
    margin: 10px;
    /* Adjust margin as needed */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Style for the title in the responsive card */
  .responsive-card-title {
    font-size: 18px;
    /* Adjust font size for the title */
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    margin-top: 10px;
  }
  
  /* Apply styles to the content inside the responsive card */
  .responsive-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  /* Style for the chart inside the responsive card */
  .responsive-chart {
    width: 800px;
    max-width: 100%;
    max-height: 100%;
  }
  
  
  /* Media query for adjusting the layout at smaller screen widths */
  @media (max-width: 768px) {
    .flex-item {
      flex: 1 0 100%;
    }
  }
  
  /* Styles for the flex container */
  /* Styles for the flex container */
  .flex-container {
    margin: 20px;
    /* Increased margin for better spacing */
  
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Align items at the top */
  }
  
  /* Styles for the medium-sized chart containers */
  .dashboard-card-medium {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Slightly stronger shadow */
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin: 1rem;
    width: auto;
    /* Adjust the width to make the charts medium-sized */
    max-height: 400px;
    /* Adjust the max height to control the chart size */
  }
  
  /* Rest of your existing styles */
  
  /* Media query for adjusting the layout at smaller screen widths */
  @media (max-width: 768px) {
    .flex-container {
      flex-direction: column;
      /* Stack items vertically on smaller screens */
      align-items: center;
      /* Center items horizontally on smaller screens */
    }
  
    .dashboard-card-medium {
      width: 100%;
      /* Full width on smaller screens */
      max-height: none;
      /* Reset max height on smaller screens */
    }
  }
  
  .chart-card {
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin: 1rem;
  }
  
  .chart-card:hover {
    transform: translateY(-5px);
  }
  
  
  /* Styles for the centered card */
  
  #chart {
    max-width: 650px;
    margin: 35px auto;
  }
  .disabled-card {
    opacity: 0.3; /* Adjust the opacity value as needed */
    pointer-events: none;
  }  

  .navbar {
    background-color: #72011b69;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust the right margin to create space between navbar and other elements */
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  
  .navbar-links a .navbar-icon {
    font-size: 24px;
    margin-right: 5px;
    line-height: 1; /* Add this line to vertically align the icon */
  }
  
  .navbar-links a:hover {
    opacity: 0.8;
  }
  
  .dashboard {
    padding: 1rem;
    margin-top: 70px; /* Add margin-top to create space between navbar and the dashboard */
  }

  #chart3 {
    max-width: 650px;
    margin: 35px auto;
  }
  