<mat-card class="add-client-card">
    <h2 class="form-title">Ajouter Reservation</h2>
    <form #reservationForm="ngForm" class="add-client-form" (submit)="addNewReservation(reservationForm.value)" ngModelOptions="{standalone: true}">

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Client</mat-label>
            <mat-select [(ngModel)]="selectedClient" name="selectedClient">
                <mat-option *ngFor="let clts of clients" [value]="clts">{{ clts.nom + ' ' + clts.prenom | titlecase }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Hotel</mat-label>
            <mat-select [(ngModel)]="selectedHotel" name="selectedHotel">
                <mat-option *ngFor="let htls of hotels" [value]="htls">{{ htls.nom | titlecase }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Destination</mat-label>
            <mat-select [(ngModel)]="selectedDestination" name="selectedDestination">
                <mat-option *ngFor="let dsts of destinations" [value]="dsts">{{ dsts.pays + ' : ' + dsts.ville | titlecase }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Transport</mat-label>
            <mat-select [(ngModel)]="selectedTransport" name="selectedTransport">
                <mat-option *ngFor="let trps of transports" [value]="trps">{{ trps.nom + ' : ' + trps.type | titlecase }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date début</mat-label>
            <input matInput [matDatepicker]="pickerDB" [(ngModel)]="selectedDateDB" (dateChange)="onDateChangeDB($event)">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickerDB"></mat-datepicker-toggle>
            <mat-datepicker #pickerDB></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date fin</mat-label>
            <input matInput [matDatepicker]="pickerDF" [(ngModel)]="selectedDateDF" (dateChange)="onDateChangeDF($event)">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickerDF"></mat-datepicker-toggle>
            <mat-datepicker #pickerDF></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select  [(ngModel)]="selectedStatus" name="selectedStatus" >
              <mat-option value="Non payée">Non payée</mat-option>
              <mat-option value="Confirmée">Confirmée</mat-option>
              <mat-option value="Payée">Payée</mat-option>
              <mat-option value="En attente">En attente</mat-option>
              <mat-option value="Annulée">Annulée</mat-option>
            </mat-select>
          </mat-form-field>

        <button type="submit" mat-raised-button
            [ngStyle]="{'background-color': isDateValid ? '#2ED47A' : 'gray', 'color': 'white'}"
            class="submit-button"
            style="grid-column: span 4; width: 150px; margin: auto;"
            [disabled]="!isDateValid"
            (click)="isDateValid ? doNothing() : showError()">
            <mat-icon>save_alt</mat-icon>Enregistrer
        </button>

        <!-- Add this message div to display an error message -->
        <div *ngIf="!isDateValid" style="color: red; margin-top: 10px;">La date de fin doit être supérieure à la date de début.</div>

    </form>
</mat-card>
