<mat-card class="table-card">

    <div class="table-container" id="tableContainer" style="overflow: auto; height: 370px">
      <table mat-table [dataSource]="factures" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell class="header-cellss" *matHeaderCellDef>
            <ng-container>{{ column }}</ng-container>
          </th>
  
          <td mat-cell *matCellDef="let factures">
            <ng-container [ngSwitch]="column">
              <ng-container *ngSwitchCase="'Action'">
                <div class="action-container">
                  <button mat-icon-button class="action-button" (click)="generatePdf(factures.idFacture, factures.nom)">
                    <mat-icon class="action-icon">arrow_downward</mat-icon>
                  </button>
                </div>
              </ng-container>
  
              <ng-container *ngSwitchCase="'ID'">
                {{
                factures.idFacture
                }}
               </ng-container>

               <ng-container *ngSwitchCase="'Reservation ID'">
                {{ factures.reservation.idReservation }}
              </ng-container>

              <ng-container *ngSwitchCase="'Client'">
                {{
                factures.reservation.client?.nom + " " + factures.reservation.client?.prenom ||
                "N/A" | titlecase
                }}
              </ng-container>
              <ng-container *ngSwitchCase="'Hotel'">
                {{ factures.reservation.hotel?.nom  ||
                "N/A" | titlecase }}
              </ng-container> 
              <ng-container *ngSwitchCase="'Date début'">
                {{ factures.reservation.date_debut | date : "dd/MM/yyyy" }}
              </ng-container>
              <ng-container *ngSwitchCase="'Date de fin'">
                {{ factures.reservation.date_fin | date : "dd/MM/yyyy" }}
              </ng-container>
              <ng-container *ngSwitchCase="'Status'">
                {{ factures.reservation.status }}
              </ng-container>

              <ng-container *ngSwitchCase="'Total'">
                {{ factures.total}}
              </ng-container>

  
              
            </ng-container>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
        <tr mat-row *matRowDef="let factureRow; columns: displayedColumns"></tr>
      </table>
    </div>
  
    <mat-paginator [length]="nb" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page"
      (page)="onPageChange($event)"></mat-paginator>
  
    
  </mat-card>
  
